# python
*.py[cod]
__pycache__/

# virtualenv
env/
env.sh

# data
RAW_DATA/UNUSED
*Crime.csv

#development notebooks
in_development/

# os
.DS_Store
Icon?

# ide
.vscode
*.swp

# log files
*.log

#Jupyter Notebooks
*.ipynb_checkpoints

#config file
*config.json
